:root {
    --bg-color: #0d1744;
    --title-color: #EEEEEE;
    --btn-color: #9AABD8;
    --score-color: #F94F6D;
    --bg-score-color: #080001;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Timer";
    src: url("../fonts/CursedTimerUlil-Aznm.ttf");
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #050b28;
    height: 100vh;
    display: flex;
    align-items: center;
   
}

.container {
    max-width: 555px;
    height: 385px;
    padding: 3em 3em 6em;
    margin: 0 auto;
    background: var(--bg-color);
    border-radius: 4px;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 2em 0 0;

}


.flex-score-container {
    width: 40%;
    /* border: 1px solid #9AABD8; */
    padding: 2em 2em .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--title-color);
    text-align: center;
}

h2 {
    color: var(--score-color);
    text-align: center;
    font-family: "Timer";
    font-size: 5rem;
    line-height: 8rem;
  /* margin-left: -.3em; */
}

.score-element {
    width: 170px;
    height: 120px;
    background: var(--bg-score-color);
    margin: 1em 0;
    border-radius: 4px;
}

.btn {
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    background: var(--bg-color);
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    font-family: "Timer", sans-serif;
    margin: 1em .5em;
    transition: color 400ms ease-in-out;

}

.btn:hover,
.btn:active {
    color: var(--score-color);
    border: 2px solid var(--score-color);
}

#reset-el {
    text-align: center;
    padding: .5em 2em;
    border-radius: 8px;
    background: var(--btn-color);
    border: 2px solid var(--btn-color);
    color: var(--bg-color);
    margin: 1em 0;
    transition: color 400ms ease-in-out; 

    font-weight: bold;
    font-size: 1.1rem;
}
#reset-el:hover {
    background: var(--bg-color);
    color: var(--btn-color);
}


.points-btn {
    display: flex;
    justify-content: center;
    max-width: 170px;
}